@CHARSET "UTF-8";

.home-bg {
    background-image: url(../images/home_bg_img.jpg);
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.panel-login {
    width: 300px;
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

.form-style {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}