<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>控制台管理系统</title>
    <link href="resources/js/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="vertical-align: bottom;">
            <div class="col-md-4" style="background-color: red;">
                AsiaApe.<span>Admin</span>
            </div>
            <div class="col-md-2" style="background-color:lime;">
                <span>后台管理系统</span>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div>
            
        </div>
        
    </div>
    <script src="resources/js/jquery-3.1.1.min.js"></script>
    <script src="resources/js/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</body>
</html>