<!DOCTYPE html>
<html lang="zh-CN"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>财务管理系统登录页面</title>
    <link href="resources/js/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet" />
</head>
<body class="home-bg">
    <div class="container">
        <div class="col-md-4">
            <div class="panel-login panel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: white;">Welcome</h3>
                    <span th:text="${error}" style="color: white;"></span>
                </div>
                <div class="panel-body">
                    <form action="login" method="post">
                        <div class="form-style input-group">
                            <div class="input-group-addon" id="input-username" aria-hidden="true">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input name="username" type="text" class="form-control" placeholder="Please enter your account" aria-describedby="input-username">
                        </div>
                        <div class="form-style input-group">
                            <div class="input-group-addon" id="input-password" aria-hidden="true">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input name="password" type="password" class="form-control" placeholder="Please enter your password" aria-describedby="input-password">
                        </div>
                        <button type="submit" class="col-md-12 form-style" >Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="resources/js/jquery-3.1.1.min.js"></script>
    <script src="resources/js/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</body>
</html>